html {
    font-family: 'Open sans', sans-serif;
    font-size: 10px;
}

.wrapper {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /*background: url(../images/bg-image.png) left no-repeat;*/
    /*background-position-x: -10%;*/
    /*background-size: contain;*/
}

.background-wrapper {
    display: flex;
    justify-content: center;
    background-image: url(../images/bg-image.png);
    width: 75%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 74.7%;
    background: rgba(255, 255, 255, 0.75);
}

.footer.active_options {
    position: absolute;
    bottom: 0;
    width: 62%;
    background: rgba(255, 255, 255, 0.75);
}

.footer.active_forms {
    position: absolute;
    bottom: 0;
    width: 62%;
    background: rgba(255, 255, 255, 0.75);
}


.footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 10px;
}

.footer__menu-link {
    display: inline-block;
    padding: 0.5rem 2rem 0.5rem 2rem;
    color: #6b6765;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
}

.animation {
    animation: animation .5s;
    animation-fill-mode: both
}

@keyframes animation {
    from {
        transform: scale(0.7);
        opacity: 0
    }
    to {
        transform: scale(1);
        opacity: 1
    }
}

/*__________________main-pink-section  start_________________________*/

.colored-top-main {
    display: flex;
    background-color: #fc5095;
    height: 17rem;
    width: 100%;
}

.content-side-main {
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 25%;
    border-left: 1.2rem solid #fc5095;
    -webkit-box-shadow: -5rem 0 25rem -14px rgba(252, 80, 149, 1);
    box-shadow: -5rem 0 25rem -1.4rem rgba(252, 80, 149, 1);
    background-color: white;
}

.content-side-main.not-active {
    display: none;
}

.content-side-main__title {
    margin-top: 7rem;
    font-weight: 700;
    color: #fc5095;
    font-size: 3rem;
    text-transform: uppercase;
    position: relative;
    padding-left: 4rem;
}

.content-side-main__title::before {
    font-family: "Font Awesome 5 Free", serif;
    content: "\f004";
    color: #fc5095;
    background-color: #fff;
    font-size: 3.5rem;
    font-weight: 900;
    height: 7rem;
    width: 7rem;
    text-align: center;
    line-height: 6rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0.8rem solid #fc5095;
    border-radius: 50%;
    position: absolute;
    left: -4.5rem;
    top: -2rem;
}

.content-side-main__title-secondary {
    margin: 2rem 0 10rem 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 24rem;
    text-transform: uppercase;
    font-size: 2rem;
}

.content-side-main__title-before-start {
    font-weight: 700;
    width: 24rem;
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
}

.content-side-main__start-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    background-color: #fc5095;
    font-size: 2.5rem;
    text-transform: uppercase;
    width: 20rem;
    height: 6rem;
    border-radius: 1rem;
    margin-left: 4rem;
}

/*__________________main-pink-section  end_________________________*/


/*__________________option-orange-section start_________________________*/

.content-side-options {
    z-index: 3;
    -webkit-box-shadow: -99px 0 250px -14px rgba(252, 137, 80, 1);
    box-shadow: -99px 0 250px -14px rgba(252, 137, 80, 1);
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 45%;
    border-left: 1.2rem solid #fc8950;
    background-color: #f6f5f5;
    transform: translateX(0px);
    opacity: 1;
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.content-side-options.active {
    z-index: 3;
    -webkit-box-shadow: -99px 0 250px -14px rgba(252, 137, 80, 1);
    box-shadow: -99px 0 250px -14px rgba(252, 137, 80, 1);
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 45%;
    border-left: 1.2rem solid #fc8950;
    background-color: #f6f5f5;
    animation: animation .5s;
    animation-fill-mode: both
}

.content-side-options.not-active {
    display: none;
}

.colored-top-options {
    display: flex;
    background-color: #fc8950;
    height: 17rem;
    width: 100%;
}

.content-side-options__title::before {
    font-family: "Font Awesome 5 Free", serif;
    content: "\f004";
    color: #fc8950;
    background-color: #fff;
    font-size: 3.5rem;
    font-weight: 900;
    height: 7rem;
    width: 7rem;
    text-align: center;
    line-height: 6rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0.8rem solid #fc8950;
    border-radius: 50%;
    position: absolute;
    left: -4.5rem;
    top: -1rem;
}

.content-side-options__title {
    margin-top: 7rem;
    font-weight: 700;
    color: #fc8950;
    font-size: 3rem;
    text-transform: uppercase;
    position: relative;
    padding-left: 4rem;
    width: 40rem;
    margin-bottom: 4rem;
}

.content-side-options__option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0.5rem 0.5rem 0.5rem 4rem;
    width: 27rem;
    height: 5rem;
    border: 1px solid lightgray;
    border-radius: .7rem;
    background: white;
    font-size: 2rem;
    color: black;
}

.content-side-options__option.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0.5rem 0.5rem 0.5rem 4rem;
    width: 27rem;
    height: 5rem;
    border: 1px solid gray;
    border-radius: 1rem;
    background: #fc8950;
    font-size: 2rem;
    color: white;
}

.content-side-options__btn-to-forms {
    margin: 4rem 0.5rem 0 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    text-transform: uppercase;
    align-items: center;
    width: 20rem;
    height: 5rem;
    border: 1px solid gray;
    border-radius: 1rem;
    background: #fc8950;
    font-size: 2rem;
    color: white;
}

.content-side-options__btn-to-forms.active {
    display: flex;
    animation: animation .5s;
    animation-fill-mode: both

}

.content-side-main-result {
    display: flex;
    font-size: 6rem;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgba(252, 137, 80, 0.7);
    flex-direction: column;
    font-weight: 700;

}

.content-side-main-result.active {
    animation: animation .5s;
    animation-fill-mode: both
}


.content-side-main-result.not-active {
    display: none;
}

.content-side-main-result__view-percent {
    justify-content: start;
    font-size: 25rem;
    font-weight: 700;
}

.content-side-main-result__view-text {
    justify-content: start;
    font-size: 7rem;
    font-weight: 700;
}

/*__________________option-orange-section end_________________________*/


/*__________________form-blue-section start_________________________*/
.colored-top-forms {
    display: flex;
    background-color: #1da7c0;
    height: 16rem;
    width: 100%;
}

.content-side-form {
    z-index: 3;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 45%;
    background: #f6f5f5;
    border-left: 1.2rem solid #1da7c0;
    -webkit-box-shadow: -99px 0 250px -14px rgba(29, 167, 192, 1);
    box-shadow: -99px 0 250px -14px rgba(29, 167, 192, 1);
}

.content-side-form.active {
    display: flex;
    animation: animation .5s;
    animation-fill-mode: both
}

.content-side-form__title {
    margin-top: 4rem;
    font-weight: 700;
    color: #1da7c0;
    font-size: 3rem;
    text-transform: uppercase;
    position: relative;
    padding-left: 4rem;
}

.content-side-form__title::before {
    font-family: "Font Awesome 5 Free", serif;
    content: "\f004";
    color: #1da7c0;
    background-color: #fff;
    font-size: 3.5rem;
    font-weight: 900;
    height: 7rem;
    width: 7rem;
    text-align: center;
    line-height: 6rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0.8rem solid #1da7c0;
    border-radius: 50%;
    position: absolute;
    left: -4.5rem;
    top: -2rem;
}

.content-side-form__title-before-input {
    font-size: 1.5rem;
    margin: 3rem 0 1rem 5rem;
}

.content-side-form__choose-sex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 34rem;
    margin: 0 0 2rem 4.5rem;
}

.content-side-form__sex__male {
    margin-right: 2rem;
}

.content-side-form__sex__male, .content-side-form__sex__female {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: white;
    font-size: 1.7rem;
    border: 1px solid gray;
    border-radius: 1rem;
    width: 30rem;
    height: 5rem;
    cursor: pointer;
}

.content-side-form__sex__male.active, .content-side-form__sex__female.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #1da7c0;
    font-size: 1.7rem;
    color: #ffffff;
    border: 1px solid gray;
    border-radius: 1rem;
    width: 30rem;
    height: 5rem;
    cursor: pointer;
    animation: animation .5s;
    animation-fill-mode: both
}

.content-side-form__sex__male > i, .content-side-form__sex__female > i {
    margin-right: 1.5rem;
}

i {
    font-size: 3rem;
}

.wrapper-form-fields {
    display: flex;
    margin-left: 4rem;
}

.content-side-form__form > p:nth-of-type(5) {
    font-size: 1rem;
}

.content-side-form__form > p {
    font-size: 1.5rem;
    color: black;
    margin-left: 1rem;
}

.terms-text {
    width: 35rem;
}

.content-side-form__form-name, .content-side-form__form-email, .content-side-form__form-pass {
    margin: 1rem;
    width: 31rem;
    height: 4.3rem;
    background-color: #fff;
    font-size: 2rem;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding-left: 2rem;
}

.content-side-form__form-submit-btn {
    display: flex;
    justify-content: center;
    width: 18rem;
    height: 5rem;
    font-size: 2rem;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #1da7c0;
    cursor: pointer;
}


.content-side-form__form-submit-btn.active {
    display: flex;
    width: 18rem;
    height: 5rem;
    background-color: #1da7c0;
    border-radius: 1rem;
    color: white;
    border: 1px solid #1da7c0;
    cursor: pointer;
    animation: animation .5s;
    animation-fill-mode: both
}

/*.req-checker {*/
/*display: none;*/
/*}*/

/*.req-checker.active {*/
/*display: inline-block;*/
/*font-size: 1.5rem;*/
/*color: red;*/
/*margin-bottom: 1rem;*/
/*animation: animation .5s;*/
/*animation-fill-mode: both*/
/*}*/

/*.overlay {*/
/*display: none;*/
/*position: fixed;*/
/*top: 0;*/
/*left: 0;*/
/*right: 0;*/
/*bottom: 0;*/
/*background-color: rgba(0, 0, 0, 0.7);*/
/*}*/

/*.overlay.show {*/
/*display: block;*/
/*}*/

/*#modal {*/
/*width: 45rem;*/
/*height: 15rem;*/
/*background: -webkit-linear-gradient(right, rgb(228, 97, 56) 0%, rgb(228, 85, 77) 100%);*/
/*background: linear-gradient(to left, rgb(228, 97, 56) 0%, rgb(228, 85, 77) 100%);*/
/*margin: 0 auto;*/
/*padding: 1rem;*/
/*border-radius: 0.6rem;*/
/*position: absolute;*/
/*z-index: 99;*/
/*top: 50%;*/
/*left: 50%;*/
/*-webkit-transform: translate(-50%, -50%);*/
/*transform: translate(-50%, -50%);*/
/*display: none;*/
/*}*/

/*.modal-wrapper {*/
/*display: -webkit-box;*/
/*display: -ms-flexbox;*/
/*display: flex;*/
/*-webkit-box-align: center;*/
/*-ms-flex-align: center;*/
/*align-items: center;*/
/*}*/

/*.close {*/
/*font-size: 2.5rem;*/
/*}*/

/*#modal.open {*/
/*display: -webkit-box;*/
/*display: -ms-flexbox;*/
/*display: flex;*/
/*}*/

/*.close {*/
/*text-decoration: none;*/
/*position: absolute;*/
/*top: 1rem;*/
/*right: 1rem;*/
/*color: black;*/
/*cursor: pointer;*/
/*}*/

/*#form {*/
/*display: -webkit-box;*/
/*display: -ms-flexbox;*/
/*display: flex;*/
/*-webkit-box-orient: vertical;*/
/*-webkit-box-direction: normal;*/
/*-ms-flex-direction: column;*/
/*flex-direction: column;*/
/*-webkit-box-align: center;*/
/*-ms-flex-align: center;*/
/*align-items: center;*/
/*}*/

/*.modal-form-text {*/
/*display: -webkit-box;*/
/*display: -ms-flexbox;*/
/*display: flex;*/
/*-webkit-box-align: center;*/
/*-ms-flex-align: center;*/
/*align-items: center;*/
/*text-align: center;*/
/*font-family: Helvetica, sans-serif;*/
/*font-size: 2.2rem;*/
/*color: #ffffff;*/
/*}*/

/*____*/


/*_____*/

/*__________________form-blue-section end_________________________*/


@media screen and (min-width: 154rem) {
    * {
        font-size: 8px;
    }
}
