html {
    font-family: 'Open sans', sans-serif;
    font-size: 10px;
}

.background-wrapper {
    background-image: url("../images/bg-image.png");
    width: 75%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
}

.test_content {
    text-align: right;
    width: 25%;
}
